{% extends "base.html" %}

{% block content %} 
<div>
<H1 ALIGN="center">Initiate a game</H1>
</div>

<div>
<form name="form_intitiate_game" method="post" action="{% url 'GameAssistant:game_create' %}" onSubmit="return gameFieldsCheck()">{% csrf_token %}
    <table border="0">
        <tbody id="body_intitiate_game">
            <tr>
                <td><span>Game: </span></td>
                <td><span id='boardname'>{{ board_name }}</span></td>
                <td><input type="hidden" name="board_name" value="{{ board_name }}"></td>
            </tr>
            <tr>
                <div style="color:#E74C3C">
                    {{ error_msg }}
                </div>
            </tr>
            <tr>
                <td style="vertical-align:top">Game Code:</td>
                <td><input type="text" name="game_code"></td>
            </tr>
            <tr>
                <td style="vertical-align:top">Num of players:</td>
                <td>
                    <select name="num_of_players" id="num_of_players">
                        <script language="javascript" type="text/javascript">
                        for(var d=4;d<=16;d++)
                        {
                            document.write("<option>"+d+"</option>");
                        }
                        </script>
                    </select>
                </td>
            </tr>
            <tr><td style="vertical-align:top">Roles Configuration:</td></tr>
            <tr>
                <td>
                </td>
                <td>
                    <table border="0">
                        <tbody id="body_multiple_roles" />
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <table border="0">
                        <tbody id="body_single_roles" />
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Start">
                    <input type="reset" value="Reset">
                </td>
            </tr>
        </tbody>
    </table>
</form>
<br>
<form name="button_profile" action="{% url 'GameAssistant:start_profile' '' %}">
    <input type="submit" value="Profile">
</form>
<br>
<form name="button_logout" method="post" action="{% url 'GameAssistant:client_exit' %}">{% csrf_token %}
    <input type="submit" value="Logout">
</form>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script language="javascript">
    boardurl = '/ga/board/ajax_roles/' + '{{ board_name }}';
    function num_of_roles() {
        var res = 0;
        var inputs = document.getElementsByTagName('input');
        for(var i=0; i<inputs.length; i++) {
            if (inputs[i].getAttribute('type') == 'checkbox')
                if (inputs[i].checked)
                    res++;
        }
        var selects = document.getElementsByTagName('select');
        for(var i=0; i<selects.length; i++)
            res += Number(selects[i].value);

        var num_of_players = document.form_intitiate_game.num_of_players.value;
        res -= num_of_players;
        return Number(res);
    }

    function gameFieldsCheck() {
        if (document.form_intitiate_game.game_code.value === "") {
            window.alert("The game code is empty!");
            return false;
        }
        if (Number(document.form_intitiate_game.num_of_players.value) !== num_of_roles()) {
            window.alert("Num of players is not the same as the number of roles!");
            return false;
        }
        return true;
    }

    $(document).ready(function(){
        $.getJSON(boardurl, function(ret){
            $.each(ret, function(key,value){
                if(value.Maximum == 1){
                    var html_to_append = 
                        "<tr>=" + 
                        "   <td>" + value.RoleName + ":" +
                        "   </td>" + 
                        "   <td>" +
                        "       <input type='checkbox' name=\'" + value.RoleName + "\' id=\'" + value.RoleName + "\' value=1>" +
                        "   </td>" + 
                        "</tr>";
                    $('#body_single_roles').append(html_to_append);
                }
                else
                    if (value.Maximum > 1){
                        var html_to_append =
                            "<tr>=" + 
                            "   <td>" + value.RoleName + ":" +
                            "   </td>" + 
                            "   <td>" +
                            "       <select name=\'" + value.RoleName + "\' id=\'" + value.RoleName + "\'>";

                        for(var d=0;d<=value.Maximum;d++)
                        {
                            html_to_append += 
                            "           <option>"+d+"</option>";
                        }
                            
                        html_to_append +=
                            "       </select>"
                            "   </td>" +
                            "</tr>";
                        $('#body_multiple_roles').append(html_to_append);
                    }

            });
        })
    });

</script> 

{% endblock %}