{% extends "base.html" %}

{% block content %} 

<div>
<H1 id='headline' ALIGN="center"><span>Room </span><span id='roomnumber'></span></H1>
</div>

<table id = 'information'>
    <tbody>
        <tr>
            <td>
                <p><span>Game Code: </span><span id='gamecode'></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><span>Player: </span><span id='playername'></span></p>
            </td>
            <td align='right'>
                <form id="button_edit_name" name="button_edit_name" method="post" action="{% url 'GameAssistant:subclient_edit' %}" onSubmit="return editName('new_name')">{% csrf_token %}
                    <input type="hidden" id='new_name' name='new_name'>
                    <input type="submit" value="Edit Name">
                </form>
            </td>
        </tr>
    </tbody>
</table>

<table id = 'seatlist' border="0">
    <tbody id = 'seatlistbody' />
</table>

<br>
<form name="button_leave" action="{% url 'GameAssistant:home_index' '' %}" onSubmit="return leaveConfirm()">
    <input type="submit" value="LeaveGame"/>
</form>   


<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script language="javascript">
    function editName(elementId, defaultText) {
        var newName = prompt("Please enter new name:", defaultText);
        if (newName) {
            document.getElementById(elementId).setAttribute("value", newName);
            return true;
            }
        return false;
    }
    function cancelConfirm() {
        return window.confirm("Are you sure you want to cancel sitting here?");
    }
    function leaveConfirm() {
        return window.confirm("Are you sure you want to leave this game?\nYou can come back by submitting the same game code");
    }
    function alreadySeatedCheck(userSeated) {
        if (Number(userSeated)) {
            window.alert("Please cancel your current seat before your sitting on another place!");
            return false;
        }
        return true;
    }

    $(document).ready(function(){
        function set_name(){
            $.getJSON("{% url 'GameAssistant:game_user' %}", function(ret){
                $('#playername').text(ret['UserName']);
            });
        };

        function set_seats(){
            $.getJSON("{% url 'GameAssistant:game_seats' %}", function(ret){
                $('#seatlistbody').empty();
                $.each(ret, function(key,value){
                    var html_to_append = 
                        "<tr>=" + 
                        "   <td align='right'> Seat " + value.SeatNumber + ": " + 
                        "   </td>" +
                        "   <td>" + value.NickName + 
                        "   </td>";

                    if (value.UserSeatedHere){
                            html_to_append +=
                            "   <td align='right'> " +
                            "       <form name='button_end' method='post' action=\"{% url 'GameAssistant:subclient_unsit' %}\"  onSubmit=\"return cancelConfirm()\">" +'{% csrf_token %}' +
                            "           <input type='hidden' name='game_code' value=" +value.GameCode + ">" +
                            "           <input type='hidden' name='seat_number' value=" +value.SeatNumber + ">" +
                            "           <input type='submit' value='Cancel'> " +
                            "       </form>" +
                            "   </td>";
                        }
                    else                
                        if (value.SeatState == 0){
                            html_to_append +=
                            "   <td align='right'> " +
                            "       <form name='button_end' method='post' action=\"{% url 'GameAssistant:subclient_sit' %}\" onSubmit=\"return alreadySeatedCheck('" + value.UserSeated + "')\">" +'{% csrf_token %}' +
                            "           <input type='hidden' name='game_code' value=" +value.GameCode + ">" +
                            "           <input type='hidden' name='seat_number' value=" +value.SeatNumber + ">" +
                            "           <input type='submit' value='Sit'> " +
                            "       </form>" +
                            "   </td>";
                        }
                    
                    html_to_append += "</tr>";
                    
                    $('#seatlistbody').append(html_to_append);
                });
            });
        };

        $.getJSON("{% url 'GameAssistant:game_information' %}", function(ret){
            $('#roomnumber').text(ret['RoomNumber']);
            $('#gamecode').text(ret['GameCode']);
            ws_id = ret['WsId'];
            var webSocket = new WebSocket('ws://' + window.location.host +'/ws/' + ws_id + '/');
            webSocket.onopen = function(event){
                set_name();
                set_seats();
            }
            webSocket.onmessage = function(event){
                var data = JSON.parse(event.data);
                var refreshType = data['message'];
                if (isNaN(refreshType)){
                    console.error('Invalid refresh type!');
                }
                else{
                    if (refreshType & 1){
                        set_name();
                    }
                    if (refreshType & 2){
                        set_seats();
                    }
                }
            }
            webSocket.onclose = function(event) {
                console.error('Web socket closed unexpectedly');
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
            };
            webSocket.onerror = function(event) {
                console.error("Web socket error: " + event.data);
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
            };
        });
    });
</script> 


{% endblock %}
