{% extends "base.html" %}

{% block content %} 

<div>
<H1 id='headline' ALIGN="center">Room </H1>
</div>

<div>
    <p id='gamecode'>Game Code: </p>
</div>

<table id = 'seatlist' border="0">
    <tbody id = 'seatlistbody' />
</table>

<br>
<form name="button_leave" action="{% url 'GameAssistant:home_index' '' %}" onSubmit="return leaveConfirm()">
    <input type="submit" value="LeaveGame"/>
</form>   


<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script language="javascript">
    function leaveConfirm() {
        return window.confirm("Are you sure you want to leave this game?\nYou can come back by submitting the same game code");
    }

    $(document).ready(function(){
        $.getJSON("{% url 'GameAssistant:game_information' %}", function(ret){
            $('#headline').append(ret['RoomNumber']);
            $('#gamecode').append(ret['GameCode']);
        });
        setInterval(function(){
            $.getJSON("{% url 'GameAssistant:game_seats' %}", function(ret){
                $('#seatlistbody').empty();
                $.each(ret, function(key,value){
                    var html_to_append = 
                        "<tr>=\n" + 
                        "   <td align='right'> Seat " + value.SeatNumber + ": " + 
                        "   </td>" +
                        "   <td>" + value.NickName + 
                        "   </td>";

                    if (value.UserSeated){
                            html_to_append +=
                            "   <td align='right'> " +
                            "       <form name='button_end' method='post' action=\"{% url 'GameAssistant:subclient_unsit' %}\" >" +'{% csrf_token %}' +
                            "           <input type='hidden' name='game_code' value=" +value.GameCode + ">" +
                            "           <input type='hidden' name='seat_number' value=" +value.SeatNumber + ">" +
                            "           <input type='submit' value='Cancel'/> " +
                            "       </form>" +
                            "   </td>";
                        }
                    else                
                        if (value.SeatState == 0){
                            html_to_append +=
                            "   <td align='right'> " +
                            "       <form name='button_end' method='post' action=\"{% url 'GameAssistant:subclient_sit' %}\" >" +'{% csrf_token %}' +
                            "           <input type='hidden' name='game_code' value=" +value.GameCode + ">" +
                            "           <input type='hidden' name='seat_number' value=" +value.SeatNumber + ">" +
                            "           <input type='submit' value='Sit'/> " +
                            "       </form>" +
                            "   </td>";
                        }
                    
                    html_to_append += "</tr>";
                    
                    $('#seatlistbody').append(html_to_append);
                });
            });
        }, 1000);
    });
</script> 


{% endblock %}
