{% extends "base.html" %}

{% block content %} 

<div>
<H1 id='headline' ALIGN="center"><span>Room </span><span id='roomnumber'></span></H1>
</div>

<table id = 'information'>
    <tbody>
        <tr>
            <td>
                <p><span>Game Code: </span><span id='gamecode'></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><span>Player: </span><span id='playername'></span></p>
            </td>
            <td align='right'>
                <form id="button_edit_name" name="button_edit_name" method="post" action="{% url 'GameAssistant:client_rename' %}" onSubmit="return editName('new_name')">{% csrf_token %}
                    <input type="hidden" id='new_name' name='new_name'>
                    <input type="submit" value="Edit Name">
                </form>
            </td>
        </tr>
    </tbody>
</table>

<table id = 'seatlist' border="0">
    <tbody id = 'seatlistbody' />
</table>

<br>
<form name="button_end" method="post" action="{% url 'GameAssistant:game_delete' %}" onSubmit="return endConfirm()">{% csrf_token %}
    <input type="submit" value="EndGame">
</form>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script language="javascript">
    function editName(elementId, defaultText) {
        var newName = prompt("Please enter new name:", defaultText);
        if (newName) {
            document.getElementById(elementId).setAttribute("value", newName);
            return true;
            }
        return false;
    }
    function endConfirm() {
        return window.confirm("Are you sure you want to end this game?");
    }
    function cancelConfirm() {
        return window.confirm("Are you sure you want to cancel sitting here?");
    }
    function removeConfirm() {
        return window.confirm("Are you sure you want to remove this player?");
    }

    $(document).ready(function(){
        function set_name(){
            $.getJSON("{% url 'GameAssistant:game_user' %}", function(ret){
                $('#playername').text(ret['UserName']);
            });
        };
        function set_seats(){
            $.getJSON("{% url 'GameAssistant:game_seats' %}", function(ret){
                $('#seatlistbody').empty();
                $.each(ret, function(key,value){
                    var html_to_append = 
                        "<tr>=\n" + 
                        "   <td align='right'> Seat " + value.SeatNumber + ": " + 
                        "   </td>" +
                        "   <td>" + value.NickName + 
                        "   </td>";

                    if (value.SeatState == 1){
                            html_to_append +=
                            "   <td align='right'> " +
                            "       <form name='button_end' method='post' action=\"{% url 'GameAssistant:client_unsit' %}\" onSubmit=\"return cancelConfirm()\">" +'{% csrf_token %}' +
                            "           <input type='hidden' name='game_code' value=" +value.GameCode + ">" +
                            "           <input type='hidden' name='seat_number' value=" +value.SeatNumber + ">" +
                            "           <input type='submit' value='Cancel'> " +
                            "       </form>" +
                            "   </td>";
                        }
                    else
                        if (value.SeatState == 0){
                            html_to_append +=
                            "   <td align='right'> " +
                            "       <form name='button_end' method='post' action=\"{% url 'GameAssistant:client_sit' %}\" >" +'{% csrf_token %}' +
                            "           <input type='hidden' name='game_code' value=" +value.GameCode + ">" +
                            "           <input type='hidden' name='seat_number' value=" +value.SeatNumber + ">" +
                            "           <input type='submit' value='Sit'> " +
                            "       </form>" +
                            "   </td>";
                        }
                        else
                        if (value.SeatState == 2){
                            var currentInputId = "new_name_of_" + value.SeatNumber
                            html_to_append +=
                            "   <td align='right'> " +
                            "       <form name='button_end' method='post' action=\"{% url 'GameAssistant:client_edit' %}\" onSubmit=\"return editName('" + currentInputId + "')\">" +'{% csrf_token %}' +
                            "           <input type='hidden' name='game_code' value=" +value.GameCode + ">" +
                            "           <input type='hidden' name='seat_number' value=" +value.SeatNumber + ">" +
                            "           <input type='hidden' id=" + currentInputId + " name='new_name'>" +
                            "           <input type='submit' value='Edit Name'> " +
                            "       </form>" +
                            "   </td>" +
                            "   <td align='left'> " +
                            "       <form name='button_end' method='post' action=\"{% url 'GameAssistant:client_remove' %}\" onSubmit=\"return removeConfirm()\">" +'{% csrf_token %}' +
                            "           <input type='hidden' name='game_code' value=" +value.GameCode + ">" +
                            "           <input type='hidden' name='seat_number' value=" +value.SeatNumber + ">" +
                            "           <input type='submit' value='Remove'> " +
                            "       </form>" +
                            "   </td>";
                        }

                    html_to_append += "</tr>";

                    $('#seatlistbody').append(html_to_append);
                });
            });
        };

        $.getJSON("{% url 'GameAssistant:game_information' %}", function(ret){
            $('#roomnumber').text(ret['RoomNumber']);
            $('#gamecode').text(ret['GameCode']);
            ws_id = ret['WsId'];
            var webSocket = new WebSocket('ws://' + window.location.host +'/ws/' + ws_id + '/');
            set_name();
            set_seats();
            webSocket.onmessage = function(event){
                var data = JSON.parse(event.data);
                var refreshType = data['message'];
                if (isNaN(refreshType)){
                    console.error('Invalid refresh type!');
                }
                else{
                    if (refreshType & 1){
                        set_name();
                    }
                    if (refreshType & 2){
                        set_seats();
                    }
                }
            }
            webSocket.onclose = function(e) {
                console.error('Web socket closed unexpectedly');
            };

        });

    });
</script> 


{% endblock %}